* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00807f;
}

.App {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  .window-body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    .Color-Picker {
      padding: 1rem;
    }

    .start-btn {
      margin: 1rem 0rem;
    }

    .dashboard {
      width: 400px;

      * {
        padding: 0.5rem;
      }

      .timer {
        width: 400px;
        p {
          font-size: 1rem;
        }
      }

      //for game zone display
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: center;
      align-items: center;

      text-align: center;
    }
  }
  .status-bar {
    width: 100%;
    font-size: 1rem;
    text-align: left;

    margin-top: 2rem;
  }
  .help-window {
    width: 430px;
  }
}

.leaderboard {
  padding: 1rem;

  width: 400px;

  display: flex;
  flex-direction: column;

  text-align: center;

  .board-title {
    padding-bottom: 1rem;
  }

  #users {
    img {
      width: 40px;
      height: 40px;
    }
  }
  #title {
    font-size: 2rem;
  }
  table,
  td {
    border: 1px solid #333;
  }
  tbody {
    font-size: 1rem;
  }
}

.score-board {
  width: 400px;
}

.color-box {
  margin: 5px;
  cursor: pointer;
}

.submit-form {
  margin: 10px;
}

#help {
  width: 250px;
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .window {
    width: 100%;
  }
}
